<div
  id="success-alert"
  class="flex items-center px-3 py-2 text-green-900 bg-green-900/20 text-sm mb-2 font-medium hidden"
>
  <i class="fas fa-check-circle text-2xl sm:text-xl"></i>
  <div class="sm:flex pl-3 gap-1 truncate">
    <div class="font-black">Success!</div>
    <div class="truncate">Your message has been sent successfully</div>
  </div>
</div>
<div
  id="error-alert"
  class="flex items-center px-3 py-2 text-red-900 bg-red-900/20 text-sm mb-2 font-medium hidden"
>
  <i class="fas fa-exclamation-triangle text-2xl sm:text-xl"></i>
  <div class="sm:flex pl-3 gap-1 truncate">
    <div class="font-black">Error!</div>
    <div class="truncate">A problem has occured while submitting data</div>
  </div>
</div>
