<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <title><%- title %> - Beneficial Savings USA</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Enjoy a range of products and services with Beneficial Savings personal and online banking, such as loans, mortgages, savings, investments and credit cards. Learn more."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="canonical" href="https://beneficialsavings.org/<%- path %>" />
    <style>
      * {
        margin: 0;
        padding: 0;
        outline: none !important;
        border: 0 !important;
      }
    </style>
  </head>
  <body>
    <%-body%>
  </body>
</html>
