<footer class="footer-area">
  <!--Start Footer-->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!--Start single footer widget-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="single-footer-widget marbtm50">
            <div class="our-company-info">
              <div class="footer-logo-style1">
                <a href="/">
                  <img src="/logo.png" alt="Illumbank" />
                </a>
              </div>
              <div class="copyright-text">
                <p>
                  Copyright &copy; 2024 Illumbank.

                  <br />
                  All Rights Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="single-footer-widget marbtm50">
            <div class="footer-widget-contact-info">
              <ul>
                <li>
                  <h3>
                    <a href="tel:+1 (213) 534 8731">+1 (213) 534 8731</a>
                  </h3>
                  <p>Customer Care</p>
                </li>
                <li>
                  <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                  <p>Banking Hours</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="single-footer-widget">
            <div class="single-footer-widget-right-colum">
              <ul>
                <li>
                  <a href="#">
                    Download Forms
                    <span class="icon-download"></span>
                  </a>
                </li>
                <li>
                  <a href="/get-in-touch/">
                    Register Your Complaint
                    <span class="icon-feedback"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->
      </div>
    </div>
  </div>
  <!--End Footer-->

  <div class="footer-bottom">
    <div class="container">
      <div class="bottom-inner">
        <div class="footer-menu">
          <ul>
            <li
              id="menu-item-466"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-466"
            >
              <a
                title="About Us"
                href="/about-us/"
                class="hvr-underline-from-left1"
                data-scroll
                data-options="easing: easeOutQuart"
                >About Us</a
              >
            </li>
            <li
              id="menu-item-465"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465"
            >
              <a
                title="All Accounts"
                href="/accounts/"
                class="hvr-underline-from-left1"
                data-scroll
                data-options="easing: easeOutQuart"
                >All Accounts</a
              >
            </li>
            <li
              id="menu-item-468"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468"
            >
              <a
                title="Business"
                href="/business/"
                class="hvr-underline-from-left1"
                data-scroll
                data-options="easing: easeOutQuart"
                >Business</a
              >
            </li>
            <li
              id="menu-item-467"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467"
            >
              <a
                title="NRI Account"
                href="/nri-account/"
                class="hvr-underline-from-left1"
                data-scroll
                data-options="easing: easeOutQuart"
                >NRI Account</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-social-link">
          <ul class="clearfix">
            <li>
              <a href="https://www.facebook.com">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.com">
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Scroll to top-->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
  <i class="icon-chevron"></i>
</a>
