<header class="main-header main-header-style1">
  <div class="main-header-style1-top">
    <div class="auto-container">
      <div class="outer-box">
        <div class="main-header-style1-top__left">
          <div class="looking-banking-box">
            <div class="inner-title">
              <span class="icon-payment"></span>
              <p>info@illumbk.com</p>
            </div>
          </div>
          <div class="nearest-branch">
            <span class="icon-map"></span>
            <a href="/get-in-touch/">Find Nearest Branch</a>
          </div>
        </div>
        <div class="main-header-style1-top__right relative">
          <a
            href="https://internetbanking.illumbk.com"
            target="_blank"
            class="text-sm font-bold bg-[#CF183C] hover:bg-black text-white absolute flex items-center justify-center px-6 right-0 h-12"
          >
            <span class="icon-home-button text-2xl mr-2"></span>

            Login
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-menu main-menu-style1">
    <div class="main-menu__wrapper clearfix">
      <div class="container">
        <div class="main-menu__wrapper-inner">
          <div class="main-menu-style1-left">
            <div class="logo-box-style1">
              <a href="/" title="Illumbank">
                <img src="/logo.png" alt="Illumbank" />
              </a>
            </div>

            <div class="main-menu-box">
              <a href="#" class="mobile-nav__toggler">
                <i class="icon-menu"></i>
              </a>

              <ul class="main-menu__list">
                <li
                  id="menu-item-360"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-360 current.current-menu-ancestor.current-menu-parent"
                >
                  <a
                    title="Home"
                    href="/"
                    class="hvr-underline-from-left1"
                    aria-expanded="false"
                    data-scroll
                    data-options="easing: easeOutQuart"
                    >Home</a
                  >
                </li>
                <li
                  id="menu-item-376"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-376 dropdown"
                >
                  <a
                    title="Services"
                    href="#"
                    data-toggle="dropdown1"
                    class="hvr-underline-from-left1"
                    aria-expanded="false"
                    data-scroll
                    data-options="easing: easeOutQuart"
                    >Services</a
                  >
                  <ul role="menu" class="submenu">
                    <li
                      id="menu-item-377"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-377 dropdown"
                    >
                      <a title="Accounts" href="#">Accounts</a>
                      <ul role="menu" class="submenu">
                        <li
                          id="menu-item-438"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-438"
                        >
                          <a title="All Accounts" href="/accounts/"
                            >All Accounts</a
                          >
                        </li>
                        <li
                          id="menu-item-437"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437"
                        >
                          <a title="Savings Account" href="/savings-account/"
                            >Savings Account</a
                          >
                        </li>
                        <li
                          id="menu-item-436"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"
                        >
                          <a title="Current Account" href="/current-account/"
                            >Current Account</a
                          >
                        </li>
                        <li
                          id="menu-item-435"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435"
                        >
                          <a
                            title="Fixed Deposit Account"
                            href="/fixed-deposit-account/"
                            >Fixed Deposit Account</a
                          >
                        </li>
                        <li
                          id="menu-item-434"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434"
                        >
                          <a title="Salary Account" href="/salary-account/"
                            >Salary Account</a
                          >
                        </li>
                        <li
                          id="menu-item-433"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"
                        >
                          <a
                            title="Recuring Deposit a/c"
                            href="/recurring-deposit-a-c/"
                            >Recuring Deposit a/c</a
                          >
                        </li>
                        <li
                          id="menu-item-432"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"
                        >
                          <a title="NRI Account" href="/nri-account/"
                            >NRI Account</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li
                      id="menu-item-378"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-378"
                    >
                      <a title="Cards" href="/cards/">Cards</a>
                      <!-- <ul role="menu" class="submenu">
                        <li
                          id="menu-item-460"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-460"
                        >
                          <a title="Our All Cards" href="">Our All Cards</a>
                        </li>
                        <li
                          id="menu-item-459"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459"
                        >
                          <a title="Business" href="/business/">Business</a>
                        </li>
                        <li
                          id="menu-item-458"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-458"
                        >
                          <a title="Cashback" href="/cashback/">Cashback</a>
                        </li>
                        <li
                          id="menu-item-457"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-457"
                        >
                          <a title="Low Interest" href="/low-interest/"
                            >Low Interest</a
                          >
                        </li>
                        <li
                          id="menu-item-456"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"
                        >
                          <a title="Rewards" href="/rewards/">Rewards</a>
                        </li>
                        <li
                          id="menu-item-455"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-455"
                        >
                          <a title="Secured" href="/secured/">Secured</a>
                        </li>
                        <li
                          id="menu-item-454"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-454"
                        >
                          <a title="Travel &#038; Hotel" href="/travel-hotel/"
                            >Travel &#038; Hotel</a
                          >
                        </li>
                      </ul> -->
                    </li>
                    <li
                      id="menu-item-379"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-379 dropdown"
                    >
                      <a title="Loans" href="#">Loans</a>
                      <ul role="menu" class="submenu">
                        <li
                          id="menu-item-406"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"
                        >
                          <a title="Home Loan" href="/home-loan/">Home Loan</a>
                        </li>
                        <li
                          id="menu-item-408"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"
                        >
                          <a title="Personal Loan" href="/personal-loan/"
                            >Personal Loan</a
                          >
                        </li>
                        <li
                          id="menu-item-409"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"
                        >
                          <a title="Vehicle Loan" href="/vehicle-loan/"
                            >Vehicle Loan</a
                          >
                        </li>
                        <li
                          id="menu-item-402"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"
                        >
                          <a title="Education Loan" href="/education-loan/"
                            >Education Loan</a
                          >
                        </li>
                        <li
                          id="menu-item-404"
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"
                        >
                          <a title="Gold Loan" href="/gold-loan/">Gold Loan</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li
                  id="menu-item-380"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-380 dropdown"
                >
                  <a
                    title="About"
                    href="#"
                    data-toggle="dropdown1"
                    class="hvr-underline-from-left1"
                    aria-expanded="false"
                    data-scroll
                    data-options="easing: easeOutQuart"
                    >About</a
                  >
                  <ul role="menu" class="submenu">
                    <li
                      id="menu-item-394"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394"
                    >
                      <a title="About Us" href="/about-us/">About Us</a>
                    </li>
                    <li
                      id="menu-item-397"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397"
                    >
                      <a title="Careers" href="/careers/">Careers</a>
                    </li>
                    <li
                      id="menu-item-398"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398"
                    >
                      <a title="Faq’s" href="/faqs/">Faq’s</a>
                    </li>
                    <li
                      id="menu-item-399"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399"
                    >
                      <a title="Testimonials" href="/testimonials/"
                        >Testimonials</a
                      >
                    </li>
                  </ul>
                </li>
                <li
                  id="menu-item-410"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-410 dropdown"
                >
                  <a
                    title="Apply Now"
                    href="#"
                    data-toggle="dropdown1"
                    class="hvr-underline-from-left1"
                    aria-expanded="false"
                    data-scroll
                    data-options="easing: easeOutQuart"
                    >Lending</a
                  >
                  <ul role="menu" class="submenu">
                    <li
                      id="menu-item-413"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"
                    >
                      <a title="Home Loan" href="/home-loan/">Home Loan</a>
                    </li>
                    <li
                      id="menu-item-414"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"
                    >
                      <a title="Personal Loan" href="/personal-loan/"
                        >Personal Loan</a
                      >
                    </li>
                    <li
                      id="menu-item-415"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"
                    >
                      <a title="Vehicle Loan" href="/vehicle-loan/"
                        >Vehicle Loan</a
                      >
                    </li>
                    <li
                      id="menu-item-411"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411"
                    >
                      <a title="Education Loan" href="/education-loan/"
                        >Education Loan</a
                      >
                    </li>
                    <li
                      id="menu-item-412"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412"
                    >
                      <a title="Gold Loan" href="/gold-loan/">Gold Loan</a>
                    </li>
                  </ul>
                </li>
                <li
                  id="menu-item-403"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"
                >
                  <a
                    title="Get In Touch"
                    href="/get-in-touch/"
                    class="hvr-underline-from-left1"
                    data-scroll
                    data-options="easing: easeOutQuart"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="main-header-style1-bottom">
    <div class="auto-container">
      <div class="outer-box">
        <div class="update-box">
          <div class="inner-title">
            <span class="icon-megaphone"></span>
            <h4>Update</h4>
          </div>
          <div class="text">
            <p>Get upto 4%* on our Savings Account Balances with Illumbank.</p>
            <a href="/get-in-touch">
              <span class="icon-chevron"></span>
              More Details
            </a>
          </div>
        </div>
        <div class="slogan-box">
          <p>
            Dear Customer, We have launched Video KYC facility for New customer
            to open savings account.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-nav__wrapper">
  <div class="mobile-nav__overlay mobile-nav__toggler"></div>
  <div class="mobile-nav__content">
    <span class="mobile-nav__close mobile-nav__toggler">
      <i class="fas fa-plus"></i>
    </span>
    <div class="logo-box">
      <a href="/" title="Illumbank">
        <img src="/logo.png" alt="Illumbank" />
      </a>
    </div>
    <div class="mobile-nav__container"></div>
    <ul class="mobile-nav__contact list-unstyled">
      <li>
        <i class="fa fa-envelope"></i>
        <a href="mailto:info@illumbk.com">info@illumbk.com</a>
      </li>
      <li>
        <i class="fa fa-phone-alt"></i>
        <a href="tel:+1 207-200-7239">+1 207-200-7239</a>
      </li>
    </ul>
    <div class="mobile-nav__social">
      <a href="https://facebook.com" class="fab fa-facebook"></a>
      <a href="https://linkedin.com" class="fab fa-linkedin"></a>
      <a href="https://pinterest.com" class="fab fa-pinterest"></a>
      <a href="https://twitter.com" class="fab fa-twitter"></a>
    </div>
  </div>
</div>
