<section class="breadcrumb-area">
  <div
    class="breadcrumb-area-bg"
    style="
      background-image: url('https://steelthemes.com/finbank/wp-content/uploads/2022/09/breadcrumb-area-bg.jpg');
    "
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content">
          <div class="title">
            <h2>Careers</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li class="breadcrumb-item"><a href="/">Home &nbsp;</a></li>
              <li class="breadcrumb-item">Careers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  data-elementor-type="wp-page"
  data-elementor-id="385"
  class="elementor elementor-385"
>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-1386cb4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="1386cb4"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e765522"
        data-id="e765522"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-dad1680 elementor-widget elementor-widget-finbank_careers"
            data-id="dad1680"
            data-element_type="widget"
            data-widget_type="finbank_careers.default"
          >
            <div class="elementor-widget-container">
              <!--Start Intro Style2 Area-->
              <section class="intro-style2-area">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="intro-style2-img-box">
                        <div class="inner">
                          <img
                            decoding="async"
                            src="https://steelthemes.com/finbank/wp-content/uploads/2022/09/intro-style2-1.jpg"
                            alt="Illumbank"
                          />
                          <div class="shape-1">
                            <img
                              decoding="async"
                              src="https://steelthemes.com/finbank/wp-content/uploads/2022/09/intro-style2-img-box-shape-1.png"
                              alt="Illumbank"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="intro-style2-content-box">
                        <div class="sec-title">
                          <h2>
                            Mountains Move<br />
                            for a Determined Team
                          </h2>
                        </div>
                        <div class="text">
                          <p>
                            Desire that they cannot foresee the pain &amp;
                            trouble that are bound too ensue equal blame belongs
                            through shrinking.
                          </p>
                          <p>
                            To enjoy a pleasure that has no annoying
                            consequences.
                          </p>
                        </div>
                        <ul>
                          <li>
                            <div class="icon-box">
                              <span class="icon-checkbox-mark"></span>
                            </div>
                            <p>Great explorer of the master-builder</p>
                          </li>
                          <li>
                            <div class="icon-box">
                              <span class="icon-checkbox-mark"></span>
                            </div>
                            <p>On the other hand</p>
                          </li>
                        </ul>
                        <div class="send-resume-box">
                          <div class="icon">
                            <span class="icon-cv"></span>
                          </div>
                          <div class="title">
                            <h4>
                              <a href="mailto:careers@illumbank.comm"
                                >Send Resume</a
                              >
                            </h4>
                            <h3>
                              <a href="mailto:careers@illumbank.com"
                                >careers@illumbank.com</a
                              >
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="job-list-table-box">
                        <div class="table-outer">
                          <table class="job-list-table">
                            <thead class="header">
                              <tr>
                                <th>Department</th>
                                <th>Job Role</th>
                                <th>Location</th>
                                <th>Last Date</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td class="department">
                                  <h3>Marketing</h3>
                                </td>
                                <td class="job-role">
                                  <h3>Regional Head</h3>
                                </td>
                                <td class="location">
                                  <p>Los Angeles</p>
                                </td>
                                <td class="last-date">
                                  <p>18th Jul, 2022</p>
                                </td>
                                <td>
                                  <div class="btn-box">
                                    <a
                                      class="btn-one"
                                      href="mailto:careers@illumbank.com"
                                    >
                                      <span class="txt">Apply</span>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="department">
                                  <h3>Marketing</h3>
                                </td>
                                <td class="job-role">
                                  <h3>Team Leader</h3>
                                </td>
                                <td class="location">
                                  <p>Los Angeles</p>
                                </td>
                                <td class="last-date">
                                  <p>25th Jul, 2022</p>
                                </td>
                                <td>
                                  <div class="btn-box">
                                    <a
                                      class="btn-one"
                                      href="mailto:careers@illumbank.com"
                                    >
                                      <span class="txt">Apply</span>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="department">
                                  <h3>Finance</h3>
                                </td>
                                <td class="job-role">
                                  <h3>Assistant Manager</h3>
                                </td>
                                <td class="location">
                                  <p>California</p>
                                </td>
                                <td class="last-date">
                                  <p>10th Aug, 2022</p>
                                </td>
                                <td>
                                  <div class="btn-box">
                                    <a
                                      class="btn-one"
                                      href="mailto:careers@illumbank.com"
                                    >
                                      <span class="txt">Apply</span>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="department">
                                  <h3>Office</h3>
                                </td>
                                <td class="job-role">
                                  <h3>Office Executive</h3>
                                </td>
                                <td class="location">
                                  <p>Newyork</p>
                                </td>
                                <td class="last-date">
                                  <p>10th Oct, 2022</p>
                                </td>
                                <td>
                                  <div class="btn-box">
                                    <a
                                      class="btn-one"
                                      href="mailto:careers@illumbank.com"
                                    >
                                      <span class="txt">Apply</span>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="department">
                                  <h3>Customer Care</h3>
                                </td>
                                <td class="job-role">
                                  <h3>Help Desk Job</h3>
                                </td>
                                <td class="location">
                                  <p>San Fransisco</p>
                                </td>
                                <td class="last-date">
                                  <p>23rd Sep, 2022</p>
                                </td>
                                <td>
                                  <div class="btn-box">
                                    <a
                                      class="btn-one"
                                      href="mailto:careers@illumbank.com"
                                    >
                                      <span class="txt">Apply</span>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-xl-12">
                      <div
                        class="subscribe-box-style1 subscribe-box-style1--style2"
                      >
                        <div class="icon">
                          <img
                            decoding="async"
                            src="https://steelthemes.com/finbank/wp-content/uploads/2022/09/subscribe-3.png"
                            alt="Illumbank"
                          />
                        </div>
                        <div class="inner-title">
                          <h3>
                            Subscribe us to<br />
                            Receive Career Updates
                          </h3>
                        </div>
                        <div class="subscribe-form-style1">
                          <form
                            id="subscription-form"
                            class="mc4wp-form mc4wp-form-190"
                          >
                            <div class="mc4wp-form-fields">
                              <div class="input-box">
                                <input
                                  type="email"
                                  name="email"
                                  placeholder="Email address"
                                  value="chefidelis@yahoo.com"
                                  required
                                />
                                <div class="inner-icon">
                                  <i class="far fa-envelope-open"></i>
                                </div>
                              </div>
                              <div
                                class="flex items-center justify-center gap-3"
                              >
                                <div class="button-box">
                                  <button class="btn-one" type="submit">
                                    <span class="txt">Subscribe</span>
                                  </button>
                                </div>
                                <div class="w-8 loader hidden">
                                  <img src="/loader.gif" />
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </section>
              <!--End Intro Style2 Area-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
