<section class="breadcrumb-area">
  <div
    class="breadcrumb-area-bg"
    style="
      background-image: url('https://steelthemes.com/finbank/wp-content/uploads/2022/09/breadcrumb-area-bg-6.jpg');
    "
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content">
          <div class="title">
            <h2>Get In Touch</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li class="breadcrumb-item">
                <a href="https://steelthemes.com/finbank/">Home &nbsp;</a>
              </li>
              <li class="breadcrumb-item">Get In Touch</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  data-elementor-type="wp-page"
  data-elementor-id="48"
  class="elementor elementor-48"
>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-9457267 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="9457267"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bc38293"
        data-id="bc38293"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-5f9db83 elementor-widget elementor-widget-finbank_contact_us"
            data-id="5f9db83"
            data-element_type="widget"
            data-widget_type="finbank_contact_us.default"
          >
            <div class="elementor-widget-container">
              <!--Start Main Contact Form Area-->
              <section class="main-contact-form-area" id="getintouch">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="contact-info-box-style1">
                        <div class="box1"></div>
                        <div class="title">
                          <h2>
                            Get Support for<br />
                            any Queries or Complaints
                          </h2>
                          <p>
                            Committed to helping you meet all your banking
                            needs.
                          </p>
                        </div>
                        <ul class="contact-info-1">
                          <li>
                            <div class="icon">
                              <span class="icon- icon-map"></span>
                            </div>
                            <div class="text">
                              <p>Corporate Office</p>
                              <h3>452 5th Ave<br />New York, NY 10018, USA</h3>
                            </div>
                          </li>
                          <li>
                            <div class="icon">
                              <span class="icon- icon-clock"></span>
                            </div>
                            <div class="text">
                              <p>Office Hours</p>
                              <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                              <h3>Sat: 9.00am to 3.00pm</h3>
                              <h3>Sun: Closed</h3>
                            </div>
                          </li>
                          <li>
                            <div class="icon">
                              <span class="icon- icon-phone"></span>
                            </div>
                            <div class="text">
                              <p>Front Desk</p>
                              <h3>
                                <a href="tel:+1 207-200-7239"
                                  >+1 207-200-7239</a
                                >
                              </h3>
                              <h3>
                                <a href="mailto:info@illumbk.com"
                                  >info@illumbk.com</a
                                >
                              </h3>
                            </div>
                          </li>
                        </ul>

                        <div class="bottom-box">
                          <div class="btn-box">
                            <a href="/get-in-touch/"
                              ><i class="fas fa-arrow-down"></i> Customer
                              Care</a
                            >
                          </div>
                          <div class="footer-social-link-style1">
                            <ul class="clearfix">
                              <li>
                                <a href="https://www.facebook.com">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.youtube.com">
                                  <i class="fab fa-youtube"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.twitter.com">
                                  <i class="fab fa-twitter"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.instagram.com">
                                  <i class="fab fa-instagram"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="contact-form bg-zinc-200 h-full">
                        <div class="default-form2">
                          <div class="wpcf7 js">
                            <div class="flex justify-center">
                              <img
                                width="180"
                                src="https://steelthemes.com/finbank/wp-content/uploads/2022/09/subscribe-3.png"
                                alt="Illumbank"
                              />
                            </div>
                            <form
                              class="wpcf7-form init"
                              aria-label="Contact form"
                              id="contact-form"
                            >
                              <div class="form-group">
                                <p><label>Name</label></p>
                                <div class="input-box">
                                  <p>
                                    <span
                                      class="wpcf7-form-control-wrap"
                                      data-name="text-682"
                                    >
                                      <input
                                        size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        id="formName"
                                        aria-required="true"
                                        aria-invalid="false"
                                        placeholder="Full name"
                                        value=""
                                        type="text"
                                        name="name"
                                        required
                                      />
                                    </span>
                                  </p>
                                </div>
                              </div>
                              <div class="form-group">
                                <p><label>Email Address</label></p>
                                <div class="input-box">
                                  <p>
                                    <span
                                      class="wpcf7-form-control-wrap"
                                      data-name="email-23"
                                      ><input
                                        size="40"
                                        class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                                        id="formEmail"
                                        aria-required="true"
                                        aria-invalid="false"
                                        placeholder=""
                                        value=""
                                        type="email"
                                        name="email"
                                        required
                                    /></span>
                                  </p>
                                </div>
                              </div>
                              <div class="form-group">
                                <p><label>Phone Number</label></p>
                                <div class="input-box">
                                  <p>
                                    <span
                                      class="wpcf7-form-control-wrap"
                                      data-name="text-683"
                                      ><input
                                        size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        id="formPhone"
                                        aria-required="true"
                                        aria-invalid="false"
                                        placeholder=""
                                        value=""
                                        type="text"
                                        name="phone"
                                        required
                                    /></span>
                                  </p>
                                </div>
                              </div>
                              <div class="form-group">
                                <p><label>Message</label></p>
                                <div class="input-box">
                                  <p>
                                    <span
                                      class="wpcf7-form-control-wrap"
                                      data-name="textarea-17"
                                    >
                                      <textarea
                                        cols="40"
                                        rows="10"
                                        class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                        id="formMessage"
                                        aria-required="true"
                                        aria-invalid="false"
                                        placeholder=""
                                        name="message"
                                        required
                                      ></textarea>
                                    </span>
                                  </p>
                                </div>
                              </div>
                              <%- include("./partials/alerts.ejs") %>
                              <div class="flex items-center gap-3">
                                <div class="button-box">
                                  <button class="btn-one w-[200px]">
                                    <span class="txt">send a message</span>
                                  </button>
                                </div>
                                <div class="w-8 loader hidden">
                                  <img src="/loader.gif" />
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--End Main Contact Form Area-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
